<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.java.renyi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ScholarActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".EntitySearchActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".DataviewActivity"
            android:parentActivityName=".MainActivity"/> <!-- 声明内容提供程序 -->
        <provider
            android:name=".MySuggestionProvider"
            android:authorities="com.java.renyi" />

        <activity android:name=".NewsDetailActivity" />
        <activity android:name=".SearchActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <!-- 在要显示SearchView的activity中声明该元素 -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <!-- <meta-data -->
            <!-- android:name="android.app.default_searchable" -->
            <!-- android:value=".SearchActivity" /> -->
        </activity>
        <activity android:name=".TagEditActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>
    </application>

</manifest>